* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 2em;
  color: red;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
select,
textarea {
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
input {
  line-height: normal;
}
button {
  cursor: pointer;
}
