.theme {
  display: flex;
  gap: 1em;
  @media screen and (max-width: 500px) {
    gap: 0.5em;
  }
  li {
    font-size: 2em;
    svg {
      cursor: pointer;
    }
  }
  .sun {
    color: grey;
    &:hover {
      color: rgb(216, 216, 76);
      scale: 1.1;
    }
  }
  .sun.active {
    color: rgb(216, 216, 76);
  }
  .moon.active {
    color: white;
    &:hover {
      color: white;
      scale: 1.1;
    }
  }
  .moon {
    color: grey;
    &:hover {
      color: #000;
    }
  }
}
